%progress_bar{
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
}
.progress-bar{
  @extend %progress_bar;
  border-top:2px solid var(--secondary-color);

  &--primary{
    @extend %progress_bar;
    border-top:2px solid var(--primary-color);
  }

  &--third{
    @extend %progress_bar;
    border-top:2px solid var(--third-color);
  }

}

%preloader{
  width: 100px;
  height: 100px;
  border: 10px solid #eee;
  border-radius: 50%;
  animation: 2s girar infinite ease-in-out;
}

.preloader{

  @extend %preloader;
  border-top: 10px solid var(--secondary-color);

  &--primary{
    @extend %preloader;
    border-top: 10px solid var(--primary-color);
  }

  &--third{
    @extend %preloader;
    border-top: 10px solid var(--third-color);
  }

}
@keyframes girar {

  100%{
    transform: rotate(360deg);
  }
}
